@model Student

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-3">Add New Students</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <div class="border p-3">
                <div asp-validation-summary="All"></div>
                <div class="mb-3 row">
                    <label asp-for="FirstName"></label>
                    <input type="text" class="form-control" asp-for="FirstName" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="LastName"></label>
                    <input type="text" class="form-control" asp-for="LastName" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Address"></label>
                    <input type="text" class="form-control" asp-for="Address" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="DateOfBirth"></label>
                    <input type="date" class="form-control" asp-for="DateOfBirth" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="ProfilePicture"></label>
                    <input type="file" name="file" class="form-control" asp-for="ProfilePicture" />
                    <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <div class="col-6 col-md-3">
                        <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary form-control">Back to list</a>
                    </div>
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Add</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

